.container {
	text-align:center;
	margin-top: 20%;
}

.hexText {
  font: bold 2em "Open Sans", Sans-serif;
}

.text {
  font: bold 6em "Open Sans", Sans-serif;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

